<div>
  {{#each products}}
    <li>
      <h2>{{this.title}}</h2>
      <h3>{{this.category}}</h3>
      <p>{{this.description}}</p>
      <p>{{this.price}}</p>

      <form
        method="post"
        action="/api/carts/6472dc9a610efe665526321b/products/{{this._id}}"
      >
        <button type="submit">Agregar al carrito</button>
      </form>
    </li>
  {{/each}}

  <center>
    {{#if hasPrevPage}}
      <a href="/api/products?limit={{limit}}&page={{prevPage}}"><button
        >anterior</button></a>
    {{/if}}

    {{#if hasNextPage}}
      <a href="/api/products?limit={{limit}}&page={{nextPage}}"><button
        >Siguiente</button></a>
    {{/if}}
  </center>
</div>


